* {
    margin: 0;
    padding: 0;
}


.container1 {
    width: 100%;
    height: 120vh;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.Recommendation-content1 {
    width: 100%;
    height: 103.9vh;
    background-color: rgb(255, 255, 255);
}

.Recommendation-content {
    width: 100%;
   
    background-color: rgb(255, 255, 255);
}


.Recommendation-content-1 {
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, rgb(168, 217, 47), rgb(175, 217, 68), rgb(192, 216, 130), rgb(194, 213, 146), rgb(204, 219, 168));
    /* border-radius: 90%; */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.Recommendation-content-1-h1 {
    padding: 30px;
    padding-left: 50px;
}


.Recommendation-content-1-h1 h1 {
    font-family: sans-serif;
    font-weight: 200;
}

.line {
    width: 550px;
    margin-top: 10px;
    height: 2px;
    background-color: black;
}

.Recommendation-content-2 {
    width: calc(100% - 60px);
    height: calc(100% - 400px);
    /* background-color: aquamarine; */
    overflow-y: auto;
    padding: 0px 30px;
}

.Recommendation-content-2-box {
    width: 100%;
    height: 50px;
    /*background-color: blueviolet;*/
    padding: 5px;
    margin: auto;
    display: flex;

}

.Recommendation-content-2-box-part-1 {

    width: 7%;
    height: 50px;
    /*background-color: rgb(160, 0, 123);*/
    padding: 5px;
    margin: auto;


}

.district {
    cursor: auto;
}

.district p {
    color: black;
    cursor: auto;
}

.bgrs {
    background-color: #486716;
    position: absolute;
    
}

.w-90{width: 87%;}
.w-91{width:100%;}
.h-91{height: 90%;}
.h-90{height: 100%;}
.h-20{height: 10%;background-image: linear-gradient(to bottom ,rgb(2,122,72),rgb(1, 69, 41),rgb(0, 48, 28));}

.bort{border-top: 1px solid white;}

.Recommendation-content-2-box-part-2 {

    width: 95%;
    height: 75vh;
    border-radius: 30px;
    /*background-color: rgb(157, 160, 0);*/
    padding: 5px;
    margin: auto;
    overflow-y: scroll;


}
.Recommendation-content-2-box-part-21 {

    width: 93%;
    height: 83%;
    
    /*background-color: rgb(157, 160, 0);*/
    padding: 15px;
    margin: auto;


}
.bk {
    height: 100vh;
    width: 100vw;

}



.Recommendation-content-2-content {
    width: 100%;
    height: 300px;
    /*background-color: red; */
    margin-top: 20px;
    display: flex;
}
.Recommendation-content-21 {
    width: calc(100% - 60px);
    height: calc(100% - 300px);
    /* background-color: aquamarine; */
    overflow-y: auto;
    padding: 0px 30px;
}

.Recommendation-content-2-content-31 {

    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 20px;
    outline: 1px #12B76A solid;

}

.Recommendation-content-2-content-1,
.Recommendation-content-2-content-2,
.Recommendation-content-2-content-3 {
    width: calc(90% / 3);
    height: 100%;
    /* background-color: blue; */
    border-radius: 20px;
    outline: 1px #12B76A solid;
    margin: auto;
}

.box-image {
    width: calc(100% - 100px);
    height: calc(100px - 10px);
    /* background-color: rgb(255, 0, 195); */
    padding: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.box-image img {
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.name {
    width: calc(100% - 20px);
    height: calc(60px - 20px);
    /* background-color: rgb(191, 169, 169); */
    padding: 10px;
    text-align: center;
}

.name-line {
    border-bottom: 2px solid rgb(123, 121, 121);
    width: 100%;
}

.description {
    width: 100%;
    height: 100px;

}

.description-1,
.description-2,
.description-3 {
    width: 100%;
    height: calc(100% / 3);
    text-align: center;
}

.description-1 p,
.description-2 p,
.description-3 p {
    color: black;
}


.button {
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    margin: auto;
}

.button button {
    width: 100%;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    /*background-color: red;*/
}


.button1 {
    width: 100%;
    height: 40px;
    /*display: flex;*/
    align-items: center;
    margin: auto;


}

.button1 button {
    width: 15%;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    /*background-color: yellow;*/

}